    * {
        margin: 0;
        box-sizing: border-box;
    }

    body {
        width: 100% !important;
        background-color: rgb(255, 128, 0)
    }

    .container {
        width: 95%;
        margin: auto;
    }

    header {
        padding: 10px;
        background-color: rgb(255, 128, 0);
        border: 1px solid #fff !important;
    }

    nav {
        padding: 10px;
        background: rgb(4, 74, 4);
    }

    main {
        display: flex;
    }

    aside {
        background: pink;
        flex: 1 0 25%;
        padding: 10px;
    }

    section {
        background: yellow;
        flex: 1 0 75%;
        padding: 10px;
    }

    footer {
        padding: 10px;
        background: #333;
        color: #fff;
    }


    /* Makes the animation pause on hover */
    .moving-text:hover {
        animation-play-state: paused;
        cursor: pointer;
    }

    /* The animation */
    @keyframes marquee {
        0% {
            transform: translateX(100%);
        }

        100% {
            transform: translateX(-100%);
        }
    }

    /* media query to enable animation for only those who want it */
    @media (prefers-reduced-motion: no-preference) {
        .moving-text {
            animation: marquee 15s linear infinite;
            color: rgb(255, 128, 0);
            font-weight: bolder;

        }
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333333;
    }

    li {
        float: left;
    }

    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 16px;
        text-decoration: none;
    }

    li a:hover {
        background-color: #111111;
    }

    p.clear {
        clear: left;
      }